# Entorno Virtual
venv/
*.env
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints

# Ignorar tipos de archivo de datos por si acaso
data/processed
data/raw